.title h1{
    font-size: 48px;
    justify-self: center;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}

.body button {
    border: none;
    border-right: solid;
    border-color: black;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.algorithms :last-child {
    border-right: none;
}

#map {
    border: solid;
    width: 90%;
    height: 500px;
    justify-self: center;
}