.title h1{
    font-size: 48px;
    justify-self: center;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}

.algorithms h2 {
    font-size: 24px;
    margin-bottom: 0;
    text-decoration: underline;
}

.algorithms button {
    border: none;
    border-right: solid;
    border-color: black;
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.algorithms button:hover {
    color: #71797E;
}

.algorithms button:disabled {
    font-weight: bold;
    color: black;
    cursor: not-allowed;
    
}

.algorithms :last-child {
    border-right: none;
}

#map {
    border: solid;
    width: 90%;
    height: 500px;
    justify-self: center;
}